 
.top_head {
    margin: 0px;
    background-color: white;
    padding-left:70px;
    padding-top:20px;
    padding-bottom:20px;
    border-bottom: 1px solid transparent ;
    font-size: 25px;
    font-family: "Segoe UI";
    color:#0cb566;
    font-weight: 500;
    box-shadow: 0px 3px 5px rgba(199, 199, 199, 0.8)
    
}

body {
    margin: 0px;
    padding: 0px;

}

.main_box {
    border: 1px solid transparent;
    width: 400px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top:100px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #b9b9b9;
}

.main_box_title {
    font-family: "Segoe UI";
    font-weight: 500;
    font-size:22px;
    padding: 30px;
    color:#606060;
}

.tag_text {
    color:grey;
    font-family: "segoe UI";
    font-size: 14px;
    padding: 30px;
}



.input_field {
    width:250px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 50px;
    border-color: #dbdbdb;
    border:1px solid #aaaaaa;
    margin-bottom: 20px;
}

.send_button {
    padding:4px;
    border-radius: 50px;
    padding-left:23px;
    padding-right: 23px;
    border: 1px solid transparent;
    margin-bottom: 20px;
    font-size: 12px;
    color: white;
    background-color: #0cb566
    
    
}

.all_content {
   text-align: center;
}

.response_msg_neg {
    margin: auto;
    margin-top:20px;
    width: 395px;
    padding: 10px;
    background-color:red;
    color:white;
    font-family: "segoe UI";
    margin-bottom: 100px;
    animation-name: slidedown_red;
    animation-duration: 0.5s;
}

.response_msg {
    margin: auto;
    margin-top:20px;
    width: 395px;
    padding: 10px;
    background-color: #0cb566;
    color:white;
    font-family: "segoe UI";
    margin-bottom: 100px;
    animation-name: slidedown;
    animation-duration: 0.5s;
}
@keyframes slidedown
{
    from{height: 0px;}
    to{height: 41px;}
}
@keyframes slidedown_red
{
    from{height: 0px;}
    to{height: 20px;}
}
@media screen and (max-width:500px)
{
.main_box {
    border: 1px solid transparent;
    width: 300px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top:30px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #b9b9b9;
}

    .response_msg_neg {
    margin: auto;
    margin-top:20px;
    width: 295px;
    padding: 10px;
    background-color:red;
    color:white;
    font-family: "segoe UI";
    margin-bottom: 100px;
    animation-name: slidedown_red;
    animation-duration: 0.5s;
}

.response_msg {
    margin: auto;
    margin-top:20px;
    width: 295px;
    padding: 10px;
    background-color: #0cb566;
    color:white;
    font-family: "segoe UI";
    margin-bottom: 100px;
    animation-name: slidedown;
    animation-duration: 0.5s;
}


}