   .ui-menu-item {
                
                outline: none;
                 margin-left: 0;
                margin-right: 0;
            
                
            }
    
            .ui-menu-item-wrapper{
                
                
                
                 border:none;
               color:black;
               background-color: white;
        
           
            
                
            } 
            .ui-menu-item-wrapper:hover {
/* your rules */
               border:none;
               color:black;
               background-color: gainsboro;
            
               margin-left: 0;
                margin-right: 0;
            
               
}  
    
       

.ui-autocomplete {
    
    background: white;
    border-radius: 20px;
    padding: 0px;
    margin: 0px;
    box-shadow: 1px 1px 2px rgba(112, 112, 112, 0.66);
    line-height: 30px;
}

